{% extends "pigpicks/base_login.html" %}
{% load staticfiles %}

{% block logincss %}<link href="{% static 'pigpicks/css/login.css' %}" rel="stylesheet">{% endblock %}
{% block title %}Pig Picks 5 | Forgot Password{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<form action="{% url 'login:forgot_password' %}" method="post" class="form-signin" role="form">{% csrf_token %}
				<h3>Forgot Password</h3>
				{% if page_error %}
					<div class="alert alert-danger page_error" style="margin-top: 10px;">
						{{ page_error }}
					</div>
				{% endif %}
				<div>{{ forgot_password_link }}
			    {% for field in form %}
			    	<div class="form-group {% if field.errors %}has-error{% endif %}">
			       		{{ field }}
						{% for error in field.errors %}
							<ul class="text-danger" style="padding-left:0px">{{ error }}</ul>
						{% endfor %}
			       	</div>
			    {% endfor %}
				<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}