{% extends "pigpicks/base.html" %}

{% block base_content %}
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pigpicks-navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'home:index' %}">Home</a>
			</div>

			<div class="collapse navbar-collapse" id="pigpicks-navbar">
				<ul class="nav navbar-nav">
					<li {% if '/picks/' in request.path %}class="active"{% endif %}>
						<a href="{% url 'picks:index' %}">My Picks</a>
					</li>
					<li class="dropdown {% if '/league/' in request.path %}active{% endif %}">
						<a href="{% url 'league:index' %}" class="dropdown-toggle" data-toggle="dropdown">League <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'league:index' %}">League Picks</a></li>
							<li><a href="{% url 'league:breakdown' %}">Picks Breakdown</a></li>
							<li><a href="{% url 'league:standings' %}">Standings</a></li>
						</ul>
					</li>
					<li {% if '/rules/' in request.path %}class="active"{% endif %}>
						<a href="{% url 'rules:index' %}">Rules</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-user"></span>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">Change Password</a></li>
							<li><a href="{% url 'login:logout' %}">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	{% block content %}
	{% endblock %}
{% endblock %}